<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {% with message = get_flashed_messages() %}
        {% if message: %}
            {% for m in message: %}
            {{ m }}
            {% endfor %}
        {% endif %}
    {% endwith %}
    
    <form action="{{ url_for('login')}}" method="POST">
        <label>username</label>
        <input type="text" name="username">
        <label>password</label>
        <input type="password" name="pwd">
        <button type="submit">LOGIN</button>

    </form>
</body>
</html>