<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {% extends 'bootstrap.html' %}
    {% block content %}
    {{ session['username']}}

    {{ det }}

    <div>
          <a href="{{ url_for('editprofile',profileid=id)}}">Edit profile</a>
           <button class="btn btn-success"><a href="{{url_for('delete')}}">Delete</a></button> 
    </div>
    {% endblock %}
</body>
</html>




