<html>
    <head>
        <title>Payment Page</title>
         <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">

    </head>

    <body>
     <form action="#" method="POST">
         <div class="form-group">
            <label>Product name</label>
                {{ productname.item_name }}
                <input type="hidden" value="csrf_token">

             <label> Customer's Name </label>
             {{  deets.trans_customer }}

             <label> Customer's Phone </label>
             {{  deets.trans_phone }}
             

             <label> Customer's Email </label>
             {{  deets.trans_email }}


             <label> Customer's Email </label>
             {{  deets.trans_email }}
             

         </div>
     </form>

    
    </body>
</html>