<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="{{url_for('msubmit')}}"  method="POST">
        <div class="form-group">
            {{myform.username.label}}
            {{myform.username}}

        </div>

        <div class="form-group">
                {{myform.email.label}}
                {{myform.email}} 
                {% if myform.email.errors%}
                <span style="color:red">{{ myform.email.errors[0] }}</span>
                {% endif %}
        </div>
        <div class="form-group">
            {{myform.password.label}}
            {{myform.password}}


            {{myform.crsf_token}}
            {{myform.submit(onclick='validate()')}}
        </div>
        <div class="form-group">
            
        </div>
    </form>
</body>
</html>